body {
    background-color: transparent;
    display: none;
    z-index: 0;
}

#monitor {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 9px;
    border: solid 1px #e0e2e2;
    background-color: black;
    z-index: 1;
}

#monitor .inner {
    margin: 25px;
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    z-index: 2;
    background: rgb(37,180,194);
    background: radial-gradient(circle, rgba(37,180,194,1) 0%, rgba(60,107,185,1) 71%);
    font-family: monospace;
    color: #a1a1a1;
    position: relative;
}

#monitor .inner .inner-toolbar {
    height: 28px;
    width: calc(100% - 4px);
    background-color: rgba(28, 37, 54, .9);
    padding: 2px;
    display: flex;
}

#monitor .inner .inner-toolbar div {
    margin-right: 6px;
}

#monitor .inner .inner-toolbar .menu {
    height: 24px;
    width: 24px;
    background: url('img/linux.png') no-repeat 6px 6px;
    background-size: 14px 14px;
    cursor: pointer;
    transition: all .2s;
}

#monitor .inner .inner-toolbar .divider {
    background: rgba(37,180,194, 0.3);
    height: 22px;
    margin-top: 3px;
    width: 2px;
}

#monitor .inner .inner-toolbar .menu-terminal {
    width: 200px;
    padding: 6px 30px;
    background: url('img/terminal.png') no-repeat 8px 8px rgba(28, 37, 54, 1);
    background-size: 14px 14px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

#monitor .inner .inner-toolbar .menu-terminal::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #247AFF;
    content: '';
}

#monitor .inner .inner-toolbar .menu:hover {
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgb(37 180 194 / 24%), 0 3px 1px -2px rgb(37 180 194 / 22%), 0 1px 5px 0 rgb(37 180 194 / 30%);
}

#monitor .inner .inner-terminal {
    position: absolute;
    top: 150px;
    right: 100px;
    width: 80%;
    height: 60%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 24%), 0 3px 1px -2px rgb(0 0 0 / 22%), 0 1px 5px 0 rgb(0 0 0 / 30%);
}

#monitor .inner .inner-terminal .terminal-header {
    width: 100%;
    height: 22px;
    background: rgba(28, 37, 54, .9);
    display: flex;
    justify-content: space-between;
}

#monitor .inner .inner-terminal .terminal-header .terminal-header-title, #monitor .inner .inner-terminal .terminal-header .terminal-header-controls {
    padding: 4px 10px;
    display: flex;
}

#monitor .inner .inner-terminal .terminal-header .terminal-header-controls .dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transition: all .2s;
}

#monitor .inner .inner-terminal .terminal-header .terminal-header-controls .dot.min {
    background: #CCFF9A;
    margin-right: 10px;
}

#monitor .inner .inner-terminal .terminal-header .terminal-header-controls .dot.max {
    background: #66CC9A;
    margin-right: 10px;
}

#monitor .inner .inner-terminal .terminal-header .terminal-header-controls .dot.close {
    background: #CD3333;
}

#monitor .inner .inner-terminal .terminal-header .terminal-header-controls .dot:hover {
    background: rgb(59, 59, 59);
}

#monitor .inner .inner-terminal #terminal-content {
    width: 100%;
    height: calc(100% - 22px);
}

#monitor .inner .desktop .icon {
    width: 80px;
    height: 80px;
    background: url('img/terminal.png') no-repeat center;
    background-size: 50%;
    padding: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    color: rgba(255,255,255,.8);
}